/*
 *  written by: @STreaker/裸奔白菜
 *  date: 2016.11.30
 *  doc: css document
 */


/*----------------------------------------/ 重置默认样式 /----------------------------------------*/

@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	padding: 0px;
	margin: 0px;
	border: 0;
	direction: ltr;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 300px;
	background: #fff;
	overflow: hidden;
	font-family: 'Trebuchet MS', '黑体', "microsoft yahei", sans-serif;
	font-size: 12px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
iframe {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea,
pre {
	font: 12px Helvetica, Arial, sans-serif, "microsoft yahei";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
samp {
	font-family: courier new, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol,
li {
	list-style: none outside none;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000000;
}

textarea {
	resize: none;
}

fieldset,
img {
	border: 0 none;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
a,
input {
	outline: none;
	blr: expression(this.onFocus=this.blur());
}

a {
	text-decoration: none;
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix {
	clear: both;
}

.clearfix:after {
	zoom: 1;
}


/*----------------------------------------/ css document /----------------------------------------*/

.main-container {
	height: 100%;
}

.main-container ._section {
	float: left;
	width: 100%;
	height: 100%;
	background: #EAEAEA;
}

.main-container ._aside {
	float: left;
	margin-left: -100%;
	width: 250px;
	height: 100%;
	background: #e2dcd0;
}

.main-body {
	position: relative;
	margin-left: 250px;
	padding: 25px 30px 50px;
	height: 100%;
}

.main-body>section {
	background: #fff;
	width: 100%;
	height: 100%;
}

.main-body>footer {
	margin-top: 18px;
	font-family: consolas, "microsoft yahei", arial;
}

.header-top-title {
	position: relative;
	border-left: 5px solid #4d4d4d;
	padding: 30px 0;
}

.header-top-title h1 {
	text-indent: 40px;
	font-family: "华文细黑";
	color: #aaa;
	font-size: 24px;
}

.header-top-title time {
	position: absolute;
	top: 35px;
	right: 35px;
	color: #999;
}

.footer-tags {
	margin: 0 30px;
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding: 20px 0;
	font-family: "微软雅黑";
}

.copyright-footer>p:first-child {
	float: left;
}

.copyright-footer>p:last-child {
	float: right;
}

.article-desc {
	color: #1a1a1a;
	font-family: "arial, helvetica, sans-serif";
	padding: 0 40px;
	line-height: 20px;
}

.article-content {
	margin: 0 40px;
	line-height: 24px;
}

.article-section h2,
.article-section h3,
.article-section h4 {
	display: block;
	font-family: "microsoft yahei";
	margin: 20px 0px 0px;
	padding-bottom: 5px;
}

.article-section h2 {
	font-size: 20px;
}

.article-section h3 {
	font-size: 17.5px;
	border-bottom: 1px solid #ddd;
}

.article-section h4 {
	font-family: "icomoon", "microsoft yahei";
	font-size: 14px;
}

.article-section p.title-list {
	font-size: 12px;
	font-family: "microsoft yahei";
}

.article-section p {
	color: #1a1a1a;
	line-height: 24px;
	font-size: 13px;
	font-family: "arial, helvetica, sans-serif";
}

.article-section ul,
.article-section li {
	position: relative;
	list-style-position: outside;
	list-style: none;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 15px;
}

.article-section ul>li:before {
	position: absolute;
	display: inline-block;
	content: "\ea04";
	width: 6px;
	height: 6px;
	margin-left: -20px;
}

.person-logo {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background: #fff;
	margin: 50px auto;
}

.code-line {
	background: #272822;
	border-radius: 5px;
	padding: 15px;
	color: #fff;
	font-family: consolas;
}

.code-line div:first-child {
	display: none;
}

.codeline {
	color: #666;
	margin-right: 10px;
}

p.notice {
	font-size: 11px;
	color: #f00;
	line-height: 18px;
	margin-top: 15px;
}

p.notice span {
	margin-right: 5px;
	font-weight: bold;
}

.icon-nextline {
	margin-left: 15px;
	margin-right: 5px;
}