@font-face {
	font-family: 'icomoon';
	src: url('../_fonts/icomoon.eot?i40k6q');
	src: url('../_fonts/icomoon.eot?i40k6q#iefix') format('embedded-opentype'),
		url('../_fonts/icomoon.ttf?i40k6q') format('truetype'),
		url('../_fonts/icomoon.woff?i40k6q') format('woff'),
		url('../_fonts/icomoon.svg?i40k6q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.icon-price-tags:before {
  content: "\e936";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bug:before {
  content: "\e999";
}
