.mui-bar {
	background: rgba(255, 255, 255, 1);
}

.mui-bar .addWords {
	position: absolute !important;
	margin: 0 !important;
	padding: 0 !important;
	display: inline-block;
	width: 30px;
	height: 30px;
	top: 7px;
	right: 5px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	color: #007aff;
}

.mui-content {
	background: transparent;
}

.str-footer {
	width: 100%;
	position: absolute;
}

.str-footer button {
	width: 100%;
}
.mui-input-row label~input{
	width: 58%;
	float: left;
}

#btnAddWords {
	width: 100%;
}

#str_theme {
	position: fixed;
	top: 44px;
	left: 0px;
}

.str-theme1 {
	background: url(../img/1.jpg) no-repeat;
	background-size: 100% 100%;
}

.str-theme2 {
	background: url(../img/2.jpg) no-repeat;
	background-size: 100% 100%;
}

.str-theme3 {
	background: url(../img/3.jpg) no-repeat;
	background-size: 100% 100%;
}

.ws-Item {
	position: relative;
	padding: 0px 10px 0px 10px;
	margin-top: 15px;
}

.ws-Item> em {
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: #fff;
	font-weight: bold;
	border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.str-item{
	padding-bottom: 30px;
}
.ws-Item > div {
	overflow: hidden;
}

.ws-Item > div > section {
	position: relative;
	display: block;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	background: rgba(221, 221, 221, 0.8);
}

.ws-Item section span:not(.mui-badge) {
	display: inline-block;
	text-indent: 0.5em;
	font-family: "微软雅黑", "times new roman";
	font-size: 12px;
}

.ws-Item section .mui-badge {
	position: absolute;
	background: transparent;
	border: 1px solid #4cd964;
	color: #4cd964;
	box-shadow: 3px 3px 10px #CCCCCC;
	left: 10px;
	top: 10px;
	z-index: 5;
}

.ws-Item section .mui-badge-sure {
	position: absolute;
	background: #4cd964;
	border: 1px solid #4cd964;
	color: #fff;
	box-shadow: 3px 3px 10px #CCCCCC;
	left: 10px;
	top: 10px;
	z-index: 5;
}

.ws-Item section span._left,
.ws-Item section span._right {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ws-Item section span._left {
	text-indent: 45px;
}

.ws-Item section span._right {
	text-indent: 0px;
}

.ws-Item section input {
	display: inline-block;
	width: auto;
	font-family: "微软雅黑", "times new roman";
	font-size: 12px;
	background: transparent;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	line-height: 40px;
}

.ws-Item section .delSection {
	position: absolute;
	display: block;
	height: 23px;
	width: 40px;
	left: -40px;
	top: 8.5px;
	/*box-shadow: inset 0px 0px 10px rgba(221,221,221,0.8);*/
	background: transparent;
}

.ws-Item section .delSection span {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 23px;
	color: #fff;
	line-height: 23px;
	font-style: normal;
	font-size: 12px;
	top: 0px;
	background: url(../img/del.png) no-repeat !important;
	font-family: "times new roman";
	padding-left: 10px;
}

.ws-Item section .delSection i {
	position: absolute;
	font-size: 12px;
	left: -2px;
	top: 1px;
	height: 100%;
	line-height: 23px;
}