<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="裸奔白菜、streaker、个人网站、个人博客、王帮雄、王奕">
		<meta name="description" conten="裸奔白菜的个人空间,裸奔白菜的人网站,王帮雄的个人空间">
		<title>裸奔白菜</title>
		<link rel="short icon" href="../image/icon.ico">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/iconmoon.css">
		<script src="../js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrap">
			<div class="wrap-content">
				{{content}}
			</div>
			<div class="wrap-IETips">
				<span>拒绝<b> IE</b>，从你我做起！！！</span><br>
				<span>友谊的小船说翻就翻，就在你打开这个页面的时候</span><br>
				<span>情况其实比你想象的糟糕。如果坚持你的选择...</span><br>
				<span>也许可以用个版本高点的浏览器缓解一下我们之间尴尬的气氛，比如说 <i>IE.11</i> </span><br>
				<span>我想这是我能做的最后的让步</span><br>
				<span>就这样。。。</span>
			</div>
		</div>	
		<script>
			$(function(){
				if(navigator.appName == "Microsoft Internet Explorer"){
					var verNum = navigator.userAgent.split(";")[1].substr(6,1);
					if(verNum <= 9){
						$(".wrap-IETips").show();
						$(".wrap-content").hide();
					}
				}
			});		
		</script>
	</body>
</html>