.color-primary {
  color: #02b875 !important;
  border-color: #02b875 !important;
}

.container-fluid>header {
  height: 66px;
  border-bottom: 1px solid #eff0f0;
}

.page-logo {
  float: left;
  width: 55px;
  height: 54px;
}

.content-main {
  width: 1120px;
  margin: 0 auto;
}

.nav-links {
  margin-top: 24px;
}

.nav-links a {
  color: #02b875;
  margin-right: 28px;
}

.top-bar-btns {
  float: right;
  margin-top: 15px;
}

#btn-search-all {
  border-radius: 50%;
  background: #fff;
  border: 1px solid #d8d8d8;
}
