* {
	padding: 0;
	margin: 0;
}


.div_404Page {
	position: absolute;
	width: 500px;
	height: 250px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -125px;
}

.bookrack {
	float: left;
	position: relative;
	border-radius: 2px;
	padding: 8px;
	border:1px solid #53C5F2;
}

.bookrack > div {
	position: relative;
	width: 480px;
	height: 224px;
	background: rgba(83, 197, 242, 0.6);
}

span.book {
	position: absolute;
	width: 40px;
	height: 140px;
	left: 165px;
	bottom: 2px;
	color: #fff;
	background: rgba(0, 0, 0, 0);
	letter-spacing: 3px;
	border-radius: 5px;
	font-weight: bold;
	font-family: "微软雅黑";
	border: 1px dashed transparent;
	box-shadow: inset 1px 1px 15px rgba(255, 255, 255, 0.5);
	animation: bookLose ease-in-out 2s 3s infinite;
}

span.book:after {
	position: absolute;
	left: 50px;
	top: -50px;
	width: 220px;
	height: 200px;
	padding: 30px 0 0 40px;
	content: "404 朋友，你要的书已经没了";
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='30'><path fill='rgb(255, 255, 255)' d='M7.688,3.737C6.1,10.409,4.624,16.982,2.475,23.517c-0.424,1.29,0.724,2.338,1.957,1.916 c5.879-2.021,11.743-4.107,17.409-6.696c1.246-0.572,0.443-2.366-0.815-1.932c-3.856,1.333-7.695,2.69-11.565,3.959 c2.879-2.526,5.485-5.215,9.013-7.17c4.441-2.459,9.299-4.109,14.281-4.915c10.903-1.772,22.052,0.562,31.979,5.04 c9.241,4.162,12.895,8.725,13.164,4.942c0.121-1.69-5.57-4.953-14.125-8.714C53.19,5.292,41.094,3.539,29.636,6.058 c-7.122,1.567-16.708,5.374-22.064,11.544c1.359-4.455,2.461-9.028,3.032-13.563C10.852,2.091,8.12,1.927,7.688,3.737z'/></svg>");
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 12px;
	transform: rotateZ(-10deg);
	opacity: 0.7;
}

span.book mark {
	bottom: 0;
	right: 0;
	position: absolute;
	background: transparent;
	color: rgba(0, 0, 0, 0.3);
	font-size: 8px;
	font-style: normal;
}

a.book {
	position: absolute;
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.4);
	padding: 10px 30px;
	letter-spacing: 3px;
	border-radius: 5px;
	font-weight: bold;
	font-family: "微软雅黑";
	box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.7);
}

a.homePage {
	bottom: 158px;
	left: 50px;
	transform: rotate(-270deg);
	transform-origin: 0;
	padding-right: 40px;
}

a.homePage:after {
	position: absolute;
	right: 10px;
	top: 11px;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(0, 0, 0, 0.1);
	content: " ";
}

a.aboutUs {
	bottom: -33px;
	left: 0px;
	transform-origin: right top;
	transform: rotate(-270deg);
}

a.faq {
	bottom: 42px;
	left: 324px;
}

a.contact {
	bottom: 2px;
	left: 290px;
}

span.bookdoor {
	position: absolute;
	width: 239px;
	height: 224px;
	background: rgba(83, 197, 242, 0.8);
}

span.bookdoor._left {
	left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

span.bookdoor._right {
	right: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

span.bookdoor._right:after, span.bookdoor._left:after {
	position: absolute;
	content: "☺";
	width: 20px;
	height: 20px;
	top: 50%;
	text-align: center;
	line-height: 20px;
	margin-top: -10px;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	justify-content: flex-end;
}

span.bookdoor._right:after {
	left: 15px;
}

span.bookdoor._left:after {
	right: 15px;
}

.leftDoorOpen {
	transform-origin: left center;
	animation: leftDoorOpen 3s ease-out forwards, leftDoorFlap 15s linear infinite forwards 9s;
}

.rightDoorOpen {
	transform-origin: right center;
	animation: rightDoorOpen ease-out forwards 3s;
}

@keyframes bookdown {
	0% {
		transform: rotate(-270deg) rotateZ(0deg);
		left: 0px;
		bottom: -33px;
	}
	50% {
		transform: rotate(-270deg) rotateZ(-18deg);
		left: 0px;
		bottom: -25px;
	}
	60% {
		transform: rotate(-270deg) rotateZ(-18deg);
		left: 0px;
		bottom: -25px;
	}
	100% {
		transform: rotate(-270deg) rotateZ(-27deg);
		left: 19px;
		bottom: -20px;
	}*/
}

@keyframes bookLose {
	0% {
		border: 1px dashed rgba(255, 255, 255, 1);
	}
	100% {
		border: 1px dashed transparent;
	}
}

@keyframes leftDoorOpen {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(140deg);
	}
}

@keyframes rightDoorOpen {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(130deg);
	}
}

@keyframes leftDoorFlap {
	0% {
		transform: rotateY(-140deg)
	}
	5% {
		transform: rotateY(-145deg)
	}
	15% {
		transform: rotateY(-137deg)
	}
	25% {
		transform: rotateY(-143deg)
	}
	30% {
		transform: rotateY(-140deg)
	}
	100% {
		transform: rotateY(-140deg)
	}
}