.b_background {
    width: 100%;
    height: 100%;
    background-image: url(../images/QixiB-dark.png);
    background-size: 100% 100%;
}

.b_background_preload {
    background: url(../images/QixiB-bright.png) no-repeat -9999px -9999px
}

.lamp_right {
    background-image: url(../images/QixiB-bright.png)
}

.shop {
    width: 39.5%;
    height: 35.5%;
    position: absolute;
    left: 29%;
    top: 36.5%;
}

.door {
    position: absolute;
    width: 32%;
    height: 68%;
    top: 32%;
    left: 58.5%;
    overflow: hidden;
}

.door-left,
.door-right {
    width: 50%;
    height: 100%;
    position: absolute;
}

.door-left {
    left: 0;
    background: url(../images/door-left.png);
    background-size: 100% 100%;
}

.door-right {
    left: 50%;
    background: url(../images/door-right.png);
    background-size: 100% 100%;
}

.bird {
    position: absolute;
    top: 10%;
    min-width: 91px;
    min-height: 71px;
    z-index: 10;
    right: -91px;
    background: url(../images/bird.png) no-repeat -182px 0px;
}

.birdFly {
    animation: bird-slow 400ms step-start infinite
}

@keyframes bird-slow {
    0% {
        background-position: -182px 0;
    }
    50% {
        background-position: 0 0;
    }
}